# Public / client-safe
NEXT_PUBLIC_SUPABASE_URL=https://wfrkuswmdbxvitvcbvpp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indmcmt1c3dtZGJ4dml0dmNidnBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MDAwMzcsImV4cCI6MjA5ODQ3NjAzN30.mMeTl9cy1qoQcWILSh22NYDIyfY3JmtD-58C2RbHuSc

# Server-only
SUPABASE_URL=https://wfrkuswmdbxvitvcbvpp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indmcmt1c3dtZGJ4dml0dmNidnBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkwMDAzNywiZXhwIjoyMDk4NDc2MDM3fQ.e8ZYXqsg0-vTxFbw8FxQE41hd5nbXQVmCz1ti3_08L0

# Optional
RESEND_API_KEY=
